# Database - Local SQLite (for development only)
DATABASE_URL="file:./db/local.db"

# Database - Turso Cloud (for production)
TURSO_DATABASE_URL="libsql://<YOUR_DB_NAME>-<YOUR_ORG>.turso.io"
TURSO_AUTH_TOKEN="<YOUR_TURSO_AUTH_TOKEN>"

# Auth
JWT_SECRET="<YOUR_RANDOM_SECRET_KEY>"
